<div class="mt-5">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Поиск..."
      [(ngModel)]="searchPhrase"
    />
    <button class="btn btn-outline-primary" type="button" (click)="onSearch()">
      <i class="bi bi-search mr-1"></i>Поиск
    </button>
  </div>

  <div class="row justify-content-end">
    <button type="button" class="btn btn-link" (click)="onReset()">
      <i class="bi bi-x"></i>Сбросить фильтр
    </button>
  </div>
</div>
