<div class="row">
  <div class="col">
    <app-search-panel></app-search-panel>
  </div>
</div>

<div class="row">
  <button type="button" class="btn btn-link" (click)="addEntity()">
    <i class="bi bi-plus"></i>Добавить запись
  </button>
</div>

<div class="row row-cols-2">
  <div class="col" *ngFor="let entity of entities$ | async">
    <app-entity-list-item
      [entity]="entity"
      (removeEntity)="removeEntity($event)"
      (editEntity)="loadEntities()"
    ></app-entity-list-item>
  </div>
</div>
